:root{
    --c_white: #ffffff;
    --c_blue: #b2dbee;
    --c_blueescuro: #22779e;
}

body {
    background-image: url("../img/img.fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}


.header img{
    width: 100%;
    height: 250px;

}

.menu ul{ 
    background-color: var(--c_blue);
    justify-content: space-around;
    padding: 20px;
    list-style: none;         
    height: 45px;
}

.menu li{
    float: left;
    padding: 15px;
}

.menu a{
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    color: var(--c_white);   

}

.menu a:hover{
    transition: 0.5s;
    background-color: var(--c_blueescuro);
}

.nav h1{
    padding: 20px;
    height: 0px;
}


.nav p{
    padding: 10px;
    display: flex;
    
}
.img img{
    width: 100%;
}

.nav_box {
    display: flex;
    padding: 10px;
}

.redesocial {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.redesocial img {
    margin-left: 35px;
    text-decoration: none;   
 
}

.footer{
    background-color: var(--c_blue);
    padding: 5px;
    text-align: center;
    width: 100%;
 
}

@media screen and (max-width: 2040px) {
    body{
        width:  70%;

    } 

    .menu ul {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    body{
        width:  60%;
        height: 100%;

    } 


    .header img{
        width: 100%;
        height: 100px;
    
    }
    .img img{
        width: 100%;
        height: 100px;
    }

    
    .menu ul{ 
    background-color: var(--c_blue);
    justify-content: space-around;
    padding: 20px;
    list-style: none;         
    height: 250px;
    display: grid;
}

    .menu li{
        width: 100%;
    }
    .menu a{
        width: 100%;
    }

    .redesocial {
        justify-content: center;
        padding: 10px;
        width: 100%;
        display: grid;
    }
 }
